<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Découvrez nos articles, étendus sur plusieurs domaines tels que la technologie, la santé, la culture et l'éducation. Nous publions également des articles publicitaires de nos partenaires et clients.">
	<meta name="keywords" content="Nucléus, Nucléus-T, Nucléus, Nucléus-T, Technologies, Technologie, NT Blog, blog, NT, N-T">
	<meta name="author" content="Nucléus Technologies">
	<meta name="expires" content="never">
    <meta name="subject" content="Un Article du blog de Nucléus-T">
    
    <link rel="shortcut icon" type="image/x-icon" href="public/img/logo.svg">
    
    <title>Un article · Le blog de Nucléus Technologies</title>
    
    <link rel="stylesheet" href="extern/css/bootstrap-grid.css">
    <link rel="stylesheet" href="extern/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/app.css">
    <link rel="stylesheet" href="public/css/app.article.css">
    <link rel="stylesheet" href="public/css/app.responsive.css">
    <link rel="stylesheet" href="extern/fontello/css/fontello.css">
    <link rel="stylesheet" href="extern/fontello/css/animation.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108287013-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108287013-1');
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, multilanguagePage: true, gaTrack: true, gaId: 'UA-108287013-1'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>

    <nav class="bl-prev-nav"></nav>
    
    <nav class="bl-nav row ml-0 mr-0">
        
        <div class="col-12 d-flex justify-content-end align-items-center d-close">
            <button type="button" class="btn-close-menu d-flex align-items-center justify-content-center">
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>

        <div class="col-12 row d-links">
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="index">Découverte<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="technologie">Technologie<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="sante">Santé<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="education">Education<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="culture">Culture<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="publicite">Publicité<span class="cursor">_</span></a> 
            </div>
        </div>

    </nav>
    
    <div class="container-fluid plr-5 mb-6">

        <header class="bl-header row mt-6">

            <div class="col-12 col-md-8">
                <h1 class="display-2 w-75"> Technology for all but not all for technology. </h1>
            </div>
            <figure class="col-12 col-md-3 d-flex justify-content-center align-items-center">
                <img src="public/img/logo.svg" alt="N">
                <div class="bg-formes">
                    <img src="public/img/formes.svg" alt="anime">
                </div>
            </figure>
            <div class="col-12 col-md-1 d-flex justify-content-center align-items-center">
                <button type="button" class="btn-load-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>

            <div class="bl-article-about col-12 row mt-5">
                
                <nav class="col-12" aria-label="breadcrumb">
                    <ol class="breadcrumb w-50">
                        <li class="breadcrumb-item"><a href="decouverte">Découverte</a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li><a href="technologie"></li>Technologie</a></li>
                    </ol>
                </nav>

                <div class="about d-flex justify-content-between align-items-center col-12 col-md-6 mt-4">
                    <p>
                        <span class="tle"> Auteur </span><br>
                        <a href="#" class="author"> Jeff Ngnoulaye </a>
                    </p>
                    <p>
                        <span class="tle"> 09 commentaires </span><br>
                        <a href="#leave-comment"> Ecrire un commentaire <span class="icon-right-big"></span> </a>
                    </p>
                    <p>
                        <span class="tle"> Publication </span><br>
                        <span class="datepublication"> 12 Jan 2019 </span>
                    </p>
                    <p>
                        <span class="tle"> Mise à jour </span><br>
                        <span class="dateupdate"> 26 Jan 2019 </span>
                    </p>
                </div>

            </div>

        </header>

        <section class="bl-article-content mt-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.

            Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.
            Aliquam convallis sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus rutrum augue. Nulla tincidunt tincidunt mi. Curabitur iaculis, lorem vel rhoncus faucibus, felis magna fermentum augue, et ultricies lacus lorem varius purus. Curabitur eu amet.
        </section>

        <section class="bl-social-share mt-6">
            
            <div class="col-12 col-md-6">
                <h1 class="display-2"> _Partagez cet article_ </h1>
            </div>
            <div class="col-12 col-md-6">
                
            </div>

        </section>

    </div>

    <footer class="bl-footer mt-6">

        <div class="row ml-0 mr-0 mb-4">
            <div class="col-12 col-md-4 d-flex flex-column align-items-start">
                <h4>_Nous</h4>
                <ul class="list-unstyled">
                    <li> <a href="#">Découvrez-nous</a> </li>
                    <li> <a href="#">Services offerts</a> </li>
                    <li> <a href="#">Nos projets</a> </li>
                    <li> <a href="#">L'équipe</a> </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center">
                <h4>_Blog_</h4>
                <ul class="list-unstyled">
                    <li> <a href="index">Découverte</a> </li>
                    <li> <a href="technologie">Technologie</a> </li>
                    <li> <a href="sante">Santé</a> </li>
                    <li> <a href="education">Education</a> </li>
                    <li> <a href="culture">Culture</a> </li>
                    <li> <a href="publicite">Publicité</a> </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-end">
                <h4>L'entreprise_</h4>
                <ul class="list-unstyled">
                    <li> <a href="#">A propos de nous</a> </li>
                    <li> <a href="#">Contact</a> </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="d-flex justify-content-between align-items-center f-end">
            
            <div class="sitecpr">
                <span> &copy; Nucléus Technologies </span>
                <a href="#" target="_blank"> Conditions générales </a>
                <a href="#" target="_blank"> Confidentialité </a>
                <a href="#" target="_blank"> Mentions légales </a>
            </div>

            <div class="language">
                <form id="google_translate_element"></form>
            </div>
            
            <div class="social">
                <a href="https://www.facebook.com/NucleusTechs/" class="icon-facebook" target="_blank"></a>
                <a href="https://www.twitter.com/NucleusTech237/" class="icon-twitter" target="_blank"></a>
                <a href="https://www.linkedin.com/company/nucl%C3%A9us-technologies/" class="icon-linkedin" target="_blank"></a>
                <a href="https://www.instagram.com/nucleustechnolog/" class="icon-instagram" target="_blank"></a>
            </div>

        </div>

    </footer>

    <script src="extern/js/jquery-3.3.1.js"></script>
    <script src="extern/js/bootstrap.js"></script>
    <script src="extern/js/bootstrap.bundle.js"></script>
    <script src="extern/js/scrollreveal.js"></script>

    <script src="public/js/app.js"></script>
    <script src="public/js/app.function.js"></script>

</body>
</html>