<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Découvrez nos articles, étendus sur plusieurs domaines tels que la technologie, la santé, la culture et l'éducation. Nous publions également des articles publicitaires de nos partenaires et clients.">
	<meta name="keywords" content="Nucléus, Nucléus-T, Nucléus, Nucléus-T, Technologies, Technologie, NT Blog, blog, NT, N-T">
	<meta name="author" content="Nucléus Technologies">
	<meta name="expires" content="never">
    <meta name="subject" content="Page d'accueil du blog de Nucléus-T">
    
    <link rel="shortcut icon" type="image/x-icon" href="public/img/logo.svg">
    
    <title>Le blog de Nucléus Technologies</title>
    
    <link rel="stylesheet" href="vendor/css/bootstrap-grid.css">
    <link rel="stylesheet" href="vendor/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/app.css">
    <link rel="stylesheet" href="public/css/app.home.css">
    <link rel="stylesheet" href="public/css/app.responsive.css">
    <link rel="stylesheet" href="vendor/fontello/css/fontello.css">
    <link rel="stylesheet" href="vendor/fontello/css/animation.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108287013-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108287013-1');
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, multilanguagePage: true, gaTrack: true, gaId: 'UA-108287013-1'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>

    <nav class="bl-prev-nav"></nav>

    <nav class="bl-nav row ml-0 mr-0">
        
        <div class="col-12 d-flex justify-content-end align-items-center d-close">
            <button type="button" class="btn-close-menu d-flex align-items-center justify-content-center">
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>

        <div class="col-12 row d-links">
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="index">Découverte<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="technologie">Technologie<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="sante">Santé<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="education">Education<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="culture">Culture<span class="cursor">_</span></a> 
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center d-link"> 
                <a href="publicite">Publicité<span class="cursor">_</span></a> 
            </div>
        </div>

    </nav>
    
    <div class="container-fluid plr-5 mb-6">

        <header class="bl-header row mt-6 pt-6 pb-6">

            <div class="col-12 col-md-8">
                <h1 class="display-2 w-75"> _Découvrez le meilleur de nos articles_ </h1>
            </div>
            <figure class="col-12 col-md-3 d-flex justify-content-center align-items-center">
                <img src="public/img/logo.svg" alt="N">
                <div class="bg-formes">
                    <img src="public/img/formes.svg" alt="anime">
                </div>
            </figure>
            <div class="col-12 col-md-1 d-flex justify-content-center align-items-center">
                <button type="button" class="btn-load-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>

        </header>

        <section class="bl-home-articles mt-6 pb-6">
                
            <div class="card-columns">
                
                <div class="card">
                    <img src="public/img/article-img.jpg" class="card-img-top" alt="article-img">
                    <div class="card-body">
                        <h4 class="card-title"> <a href="article"> Article Title<span class="cursor">_</span> </a> </h4>
                        <p class="card-text"> 
                            A short description of what the article is talking about. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                        <p class="card-text s-describe mt-4">
                            <small class="text-muted icon-clock-4"> 05 Décembre 2017 </small>
                            <small class="text-muted icon-comment"> 9 commentaires </small>
                            <a href="#" class="text-muted"> <small class="icon-tags"> Technologie </small> </a>
                        </p>
                        <footer class="blockquote-footer">
                            <small>
                                Ecrit par <a href="#">Jeff Ngnoulaye</a>
                            </small>
                        </footer>
                    </div>
                </div>
                
                <div class="card">
                    <img src="public/img/article-img.jpg" class="card-img-top" alt="article-img">
                    <div class="card-body">
                        <h4 class="card-title"> <a href="article"> Article Title<span class="cursor">_</span> </a> </h4>
                        <p class="card-text"> 
                            A short description of what the article is talking about. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                        <p class="card-text s-describe mt-4">
                            <small class="text-muted icon-clock-4"> 05 Décembre 2017 </small>
                            <small class="text-muted icon-comment"> 9 commentaires </small>
                            <a href="#" class="text-muted"> <small class="icon-tags"> Technologie </small> </a>
                        </p>
                        <footer class="blockquote-footer">
                            <small>
                                Ecrit par <a href="#">Jeff Ngnoulaye</a>
                            </small>
                        </footer>
                    </div>
                </div>
                
                <div class="card">
                    <img src="public/img/article-img.jpg" class="card-img-top" alt="article-img">
                    <div class="card-body">
                        <h4 class="card-title"> <a href="article"> Article Title<span class="cursor">_</span> </a> </h4>
                        <p class="card-text"> 
                            A short description of what the article is talking about. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                        <p class="card-text s-describe mt-4">
                            <small class="text-muted icon-clock-4"> 05 Décembre 2017 </small>
                            <small class="text-muted icon-comment"> 9 commentaires </small>
                            <a href="#" class="text-muted"> <small class="icon-tags"> Technologie </small> </a>
                        </p>
                        <footer class="blockquote-footer">
                            <small>
                                Ecrit par <a href="#">Jeff Ngnoulaye</a>
                            </small>
                        </footer>
                    </div>
                </div>
                
                <div class="card">
                    <img src="public/img/article-img.jpg" class="card-img-top" alt="article-img">
                    <div class="card-body">
                        <h4 class="card-title"> <a href="article"> Article Title<span class="cursor">_</span> </a> </h4>
                        <p class="card-text"> 
                            A short description of what the article is talking about. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                        <p class="card-text s-describe mt-4">
                            <small class="text-muted icon-clock-4"> 05 Décembre 2017 </small>
                            <small class="text-muted icon-comment"> 9 commentaires </small>
                            <a href="#" class="text-muted"> <small class="icon-tags"> Technologie </small> </a>
                        </p>
                        <footer class="blockquote-footer">
                            <small>
                                Ecrit par <a href="#">Jeff Ngnoulaye</a>
                            </small>
                        </footer>
                    </div>
                </div>
                
                <div class="card">
                    <img src="public/img/article-img.jpg" class="card-img-top" alt="article-img">
                    <div class="card-body">
                        <h4 class="card-title"> <a href="article"> Article Title<span class="cursor">_</span> </a> </h4>
                        <p class="card-text"> 
                            A short description of what the article is talking about. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                        <p class="card-text s-describe mt-4">
                            <small class="text-muted icon-clock-4"> 05 Décembre 2017 </small>
                            <small class="text-muted icon-comment"> 9 commentaires </small>
                            <a href="#" class="text-muted"> <small class="icon-tags"> Technologie </small> </a>
                        </p>
                        <footer class="blockquote-footer">
                            <small>
                                Ecrit par <a href="#">Jeff Ngnoulaye</a>
                            </small>
                        </footer>
                    </div>
                </div>
                
                <div class="card">
                    <img src="public/img/article-img.jpg" class="card-img-top" alt="article-img">
                    <div class="card-body">
                        <h4 class="card-title"> <a href="article"> Article Title<span class="cursor">_</span> </a> </h4>
                        <p class="card-text"> 
                            A short description of what the article is talking about. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                        <p class="card-text s-describe mt-4">
                            <small class="text-muted icon-clock-4"> 05 Décembre 2017 </small>
                            <small class="text-muted icon-comment"> 9 commentaires </small>
                            <a href="#" class="text-muted"> <small class="icon-tags"> Technologie </small> </a>
                        </p>
                        <footer class="blockquote-footer">
                            <small>
                                Ecrit par <a href="#">Jeff Ngnoulaye</a>
                            </small>
                        </footer>
                    </div>
                </div>

            </div>

            <nav aria-label="Articles Item Navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link icon-left-open-big" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link icon-left-open-mini" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#"> <span>1</span> </a></li>
                    <li class="page-item"><a class="page-link" href="#"> <span>2</span> </a></li>
                    <li class="page-item"><a class="page-link" href="#"> <span>3</span> </a></li>
                    <li class="page-item">
                        <a class="page-link icon-right-open-mini" href="#"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link icon-right-open-big" href="#"></a>
                    </li>
                </ul>
            </nav>

        </section>

        <section class="bl-newsletter row mt-6">

            <div class="col-12 mb-4">
                <h1 class="display-2 w-50"> _Restez informé sur l'actualité de notre blog_ </h1>
            </div>
            <div class="col-12 mt-4 nl-p-form">
                <form action="#" method="post" class="nl-form">
                    <div class="f-g d-flex justify-content-center align-items-center">
                        <input type="email" name="email" id="email" placeholder="_votre adresse mail_">
                        <button type="submit" class="icon-ok-outline"></button>
                    </div>
                </form>
            </div>
            <div class="bg-formes">
                <img src="public/img/formes.svg" alt="anime">
            </div>

        </section>

    </div>

    <footer class="bl-footer mt-6">

        <div class="row ml-0 mr-0 mb-4">
            <div class="col-12 col-md-4 d-flex flex-column align-items-start">
                <h4>_Nous</h4>
                <ul class="list-unstyled">
                    <li> <a href="#">Découvrez-nous</a> </li>
                    <li> <a href="#">Services offerts</a> </li>
                    <li> <a href="#">Nos projets</a> </li>
                    <li> <a href="#">L'équipe</a> </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center">
                <h4>_Blog_</h4>
                <ul class="list-unstyled">
                    <li> <a href="index">Découverte</a> </li>
                    <li> <a href="technologie">Technologie</a> </li>
                    <li> <a href="sante">Santé</a> </li>
                    <li> <a href="education">Education</a> </li>
                    <li> <a href="culture">Culture</a> </li>
                    <li> <a href="publicite">Publicité</a> </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-end">
                <h4>L'entreprise_</h4>
                <ul class="list-unstyled">
                    <li> <a href="#">A propos de nous</a> </li>
                    <li> <a href="#">Contact</a> </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="d-flex justify-content-between align-items-center f-end">
            
            <div class="sitecpr">
                <span> &copy; Nucléus Technologies </span>
                <a href="#" target="_blank"> Conditions générales </a>
                <a href="#" target="_blank"> Confidentialité </a>
                <a href="#" target="_blank"> Mentions légales </a>
            </div>

            <div class="language">
                <form id="google_translate_element"></form>
            </div>
            
            <div class="social">
                <a href="https://www.facebook.com/NucleusTechs/" class="icon-facebook" target="_blank"></a>
                <a href="https://www.twitter.com/NucleusTech237/" class="icon-twitter" target="_blank"></a>
                <a href="https://www.linkedin.com/company/nucl%C3%A9us-technologies/" class="icon-linkedin" target="_blank"></a>
                <a href="https://www.instagram.com/nucleustechnolog/" class="icon-instagram" target="_blank"></a>
            </div>

        </div>

    </footer>

    <script src="vendor/js/jquery-3.3.1.js"></script>
    <script src="vendor/js/bootstrap.js"></script>
    <script src="vendor/js/bootstrap.bundle.js"></script>
    <script src="vendor/js/scrollreveal.js"></script>

    <script src="public/js/app.js"></script>
    <script src="public/js/app.function.js"></script>

</body>
</html>